/*----------GENERAL----------*/
*{margin: 0; padding: 0;}
body {   
    background: linear-gradient(180deg, rgba(0,0,0,1) 49%, rgba(0,0,0,1) 71%, rgba(126,47,71,1) 100%);
    background-attachment: fixed;
    font-family: "Tiro", Arial, Helvetica; 
}
#wrapper {
    display:grid;    
    height: 100vh;
    grid-auto-rows: 30px 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    width: 100%;
}
.resalta {
    color:#7e2f47;
    text-transform: uppercase;
}
.bg-black {
    background-color: #000;
}
.bd-top {
    border-top: 1px solid #cee4f283;
}
.tx-shadow {
    text-shadow: 1px 1px 1px #000;
}
:root {
    --animate-delay: 0.5s;
  }
/*----------FUENTES----------*/
@font-face {
    font-family: "Medieval";
    src: url(../fonts/MedievalSharp-Regular.ttf);
}
@font-face {
    font-family: "Tiro" ;
    src: url(../fonts/TiroDevanagariSanskrit-Regular.ttf);
}
/*----------HEADER----------*/
header {
    align-items: center;
    background: rgb(0,0,0);
    border-bottom: 1px solid #cee4f283;
    display: flex;
    flex-direction: row-reverse;
    grid-area: header;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 100;
}
header h1 {
    color: #CEE4F2;
    display: flex;
    font-family: "Medieval", Arial, Helvetica;
    font-size: 20px;
    height: 20px;
    justify-content: center;
    padding-right: 10px;
    text-shadow: 1px 1px 1px #333;
}
header input {
    display: none;
}
/*---Menu---*/
.menu ul {   
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 49%, rgba(0,0,0,0.8) 71%, rgba(126,47,71,0.8) 100%);
    height: 100vh;
    transform: translateX(-100%);
    transition: 0.5s;
    position: absolute;
    width: 100%;
    z-index: 100;
}
.menu_bar label {
    color: #CEE4F2;
    font-size: 25px;
    padding: 5px;
}
.menu li {
    border-bottom: 1px solid #cee4f283;
    list-style: none;
    margin-left: -35px;
    padding: 20px 10px;
}
.menu li:hover {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(126,47,71,0.66) 50%);
}
.menu li:hover a {
    font-size: 18px;
}
.menu li a {
    color: #CEE4F2;
    text-decoration: none;
    text-transform: uppercase;
}
#active {
    color:#8C2A44;
    font-size: 22px;
}
#boton_menu:checked + .menu ul {
    transform: translateX(0);
}
/*----------HOME----------*/
main {
    grid-area: main;
}
main section {
    display: flex;
    flex-direction: column;
}
/*---Banner---*/
.banner {
    display: flex;
    flex-direction: column;
}
.banner img {
    border-bottom: 1px solid#cee4f283;
    width: 100%;
}
.banner p {
    color: #CEE4F2;
    font-size: 18px;
    margin: 40px 20px;
    text-align: justify;
}
/*---Imagenes---*/
.contenedor-home {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.contenedor-home h5 {
    color: #7e2f47;
}
.home-item1 {
    background-image: url(../img/gotico.png);
    background-position: center;
    background-size: cover;
    height: 500px;
    opacity: 50%;
}
/*---Enlaces---*/
.enlaces {
    color: #CEE4F2;
}
.enlaces a {    
    color: #CEE4F2;
    text-decoration: none;
}
.btn-outline-dark {
    border: none;
    box-shadow: 5px 5px 5px #7e2f47;
}
.btn-outline-dark:hover {
    background-color: rgba(0, 0, 0, 0.363);
}
/*----------MEDIA----------*/
/*---Videos---*/
.videos {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}
.media_titulo {
    border-bottom: 1px solid #7e2f47;
    color: #7e2f47;
    font-family: "Medieval", Arial, Helvetica;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 30px;
}
.videos iframe {
    border: 1px solid #cee4f283;
    height: 315px;
    margin: auto;
    width: 100%; 
}
.carousel-item h5 {
    font-family: "Tiro", Arial, Helvetica;
    color: #CEE4F2;
}
/*----------CONTACTO---------*/
#body-contacto {
    background-image: url(../img/form_bg.png);
    background-position: center;
    background-size: cover;
}
.formularios {
    border-radius: 10px;
    border: 1px solid #cee4f283;
    box-shadow: 5px 5px 5px #7e2f47;
    padding: 20px;
}
form {
    color: #CEE4F2;
}
.tab-content a {
    color: #7e2f47;
}
/*----------FOOTER----------*/
footer {
    color: #cee4f283;
    grid-area: footer;
}
footer a{
    color: #cee4f283;
}
footer a:hover {
    color: black;
}
/*----------MEDIA QUERIES---------*/
/*---Tables---*/
@media (min-width:768px) {
.videos iframe {
        height: 460px;
}   
}
/*---Desktop---*/
@media (min-width:1280px) {
    .menu_bar label {
        display: none;
    }     
    .menu ul {
        background: rgb(0,0,0);
        display: flex;
        font-size: 20px;
        height: 30px;
        list-style: none;
        padding: 5px 0;
        position: relative;
        transform: translateX(0%);
    }
    .menu ul li{
        border-bottom: none;
        padding: 5px 10px;
        margin-left: 0;
    }
    .menu li:hover {
        background: none;
    }
    .menu li:hover a {
        color: #7e2f47;
        font-size: 20px;
    }  
    .cont_caracteristica {
        display: grid;
        column-gap: 10px;
        row-gap: 10px;
        grid-template-columns: repeat(2, 1fr);        
        padding: 10px;
    }
    .videos {
        column-gap: 50px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .videos iframe {
        height: 500px;
    }
    .formularios {
        margin: 7% 0 0 12% !important;        
    }
}