/*----------GENERAL----------*/
*{margin: 0; padding: 0;}
body {   
    background: linear-gradient(180deg, rgba(0,0,0,1) 49%, rgba(0,0,0,1) 71%, rgba(126,47,71,1) 100%);
    background-attachment: fixed;
    font-family: "Tiro", Arial, Helvetica; 
}
#wrapper {
    display:grid;    
    height: 100vh;
    grid-auto-rows: 30px 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    width: 100%;
}
.resalta {
    color:#7e2f47;
    text-transform: uppercase;
}
/*----------FUENTES----------*/
@font-face {
    font-family: "Medieval";
    src: url(../fonts/MedievalSharp-Regular.ttf);
}
@font-face {
    font-family: "Tiro" ;
    src: url(../fonts/TiroDevanagariSanskrit-Regular.ttf);
}
/*----------HEADER----------*/
header {
    align-items: center;
    background: rgb(0,0,0);
    border-bottom: 1px solid #cee4f283;
    display: flex;
    flex-direction: row-reverse;
    grid-area: header;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 100;
}
header h1 {
    color: #CEE4F2;
    display: flex;
    font-family: "Medieval", Arial, Helvetica;
    font-size: 20px;
    height: 20px;
    justify-content: center;
    padding-right: 10px;
    text-shadow: 1px 1px 1px #333;
}
header input {
    display: none;
}
/*---Menu---*/
.menu ul {
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 49%, rgba(0,0,0,0.8) 71%, rgba(126,47,71,0.8) 100%);
    height: 100vh;
    transform: translateX(-100%);
    transition: 0.5s;
    position: absolute;
    width: 100%;
    z-index: 100;
}
.menu_bar label {
    color: #CEE4F2;
    font-size: 25px;
    padding: 5px;
}
.menu li {
    border-bottom: 1px solid #cee4f283;
    padding: 20px 10px;
}
.menu li:hover {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(126,47,71,0.66) 50%);
}
.menu li:hover a {
    font-size: 18px;
}
.menu li a {
    color: #CEE4F2;
    text-decoration: none;
    text-transform: uppercase;
}
#active {
    color:#8C2A44;
    font-size: 22px;
}
#boton_menu:checked + .menu ul {
    transform: translateX(0);
}
/*----------MAIN----------*/
main {
    grid-area: main;
}
main section {
    display: flex;
    flex-direction: column;
}
/*---Banner---*/
.banner {
    display: flex;
    flex-direction: column;
}
.banner img {
    border-bottom: 1px solid#cee4f283;
    width: 100%;
}
.banner p {
    color: #CEE4F2;
    font-size: 18px;
    margin: 40px 20px;
    text-align: justify;
}
/*---Enlaces---*/
.enlaces {
    align-content: center;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}
.enlaces a {    
    display: flex;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(126,47,71,0.66);
    color: #CEE4F2;
    font-size: 15px;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    transition: 0.5s;
    width: 30%;
}
.enlaces a:hover {
    background-color: rgba(126,47,71,0.66);
}
/*----------MEDIA----------*/
/*---Videos---*/
.videos {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}
.media_titulo {
    border-bottom: 1px solid #7e2f47;
    color: #7e2f47;
    font-family: "Medieval", Arial, Helvetica;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 30px;
}
.videos iframe {
    border: 1px solid #cee4f283;
    height: 315px;
    margin: auto;
    width: 100%; 
}
/*---Imágenes---*/
.imagenes {
    display:flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}
.contenedor_img {
    display: grid;
    grid-auto-rows: 150px;
    grid-gap: 15px;
    grid-template-columns: repeat(2,1fr);
    padding: 10px;
}
.contenedor_item {
    position: relative;
    transition: all 0.5s;
}
.contenedor_item p {
    background-color:rgba(126,47,71,0.66);
    bottom: 0;
    color: #CEE4F2;
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
}
.imagenes img {
    border: 1px solid #cee4f283;
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.contenedor_item:hover {
    transform: scale(1.1);
    z-index: 10;
}
.contenedor_item:hover p {
    display:inherit;
}
/*----------CARACTERISTICAS----------*/
.caracteristica {
    align-items: center;
    border: 1px solid #cee4f283;
    border-radius: 5px;
    box-shadow: 0 5px 5px #000;
    display: flex;
    height: 350px;
    margin: 10px;
}
.caracteristica img {
    opacity: 0.5;
    width: 100%;
}
.info {
    margin: 10px;
    position: absolute;
}
.caracteristica h3 {
    color: #8C2A44;
    font-family: "Medieval", Arial, Helvetica;
    font-size: 16px;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
    text-transform: uppercase; 
}
.caracteristica p {
    color: #CEE4F2;
    font-size: 12px;
    padding: 10px;
    text-align: left;
}
/*----------REQUISITOS----------*/
.tablas {
    color: #CEE4F2;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
}
.tablas table {
    width: 100%;
}
.tablas h4 {
    color: #8C2A44;
    font-family: "medieval" ,Arial, Helvetica;
    font-size: 20px;margin-top: 20px;
    letter-spacing: 5px;
    margin-bottom: 5px;    
    text-align: center;
}
.tablas th {
    background-color: #8c2a44a9;
    border-radius: 2px;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 5px 8px;
    text-shadow: 2px 2px 1px #000;
    text-transform: uppercase;
}
.tablas td {
    border-bottom: 1px solid #cee4f283;
    font-size: 14px;
    padding: 5px 8px;
}
.tablas tr:hover{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(126,47,71,0.66) 50%);
}
/*----------CONTACTO----------*/
.formulario {
    color: #CEE4F2;
    display: flex;
    flex-direction: column;
    margin: 30px 10px;
}
.formulario fieldset {
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 10px 5px #000;
    display: flex;
    flex-direction: column;
    padding: 15px;    
}
.formulario legend {
    color: #8C2A44;
    display: flex;
    font-family: "Medieval", Arial, Helvetica;
    font-size: 20px;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}
.text {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.text input, select, textarea{
    background-color: #7e2f47;
    font-family: "Tiro", Arial, Helvetica;
    font-size: 16px;
    padding: 2px;
    text-align: center;
    width: 280px;
}
.formulario p {
    text-align: center;
}
.formulario img {
    padding: 10px;
    width: 50%;
}
.botones {
    display: flex;
    padding: 15px;
}
.botones button{
    background-color: #7e2f47;
    border-radius: 5px;
    color: #CEE4F2;
    font-family: "Tiro", Arial, Helvetica;
    height: 30px;
    letter-spacing: 5px;
    margin: 0px 10px;
    text-shadow: 1px 1px 1px #000;
    text-transform: uppercase;
    transition: 0.5s;
    width: 100px;    
}
.botones button:hover {
    background-color: #7e2f476b;
    transform: scale(1.2);
}
/*----------FOOTER----------*/
footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: footer;
    width: 100%;
}
.redes a {
    color: #CEE4F2;
    font-size: 30px;
    padding: 15px;
}
.redes a i {
    transition: 0.5s;
}
.redes a i:hover {
    color: #7e2f47;
}
footer p {
    color: #CEE4F2;
    font-size: 15px;
    text-align: center;
}
/*----------MEDIA QUERIES---------*/
/*---Tablet---*/
@media (min-width:768px) {
       .contenedor_img {
        grid-auto-rows: 200px;
        grid-gap: 25px;
        grid-template-columns: repeat(2,1fr);
        padding: 10px;
    }
    .videos iframe {
        height: 460px;
    }    
    .caracteristica h3 {
        font-size: 18px;
    }
    .caracteristica p {
        font-size: 16px;
    }
    .tablas {
        height: 920px;
        justify-content: space-around;
    }
    .tablas table {
        margin: auto;
        width: 80%;
    }
    .tablas h4 {
        font-size: 34px;
    }
    .tablas th {
        font-size: 18px;        
    }
    .tablas td {        
        font-size: 16px;
    }
    .caracteristica img {
        border-radius: 20px;
        height: 300px;
        object-fit: cover;
        opacity: 1;
        padding: 10px;
        width: 50%;
    }    
    .info {
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: center;
        position: inherit;
        width: 100%;
    }
    .formulario fieldset {
        margin: auto;
        width: 70%;
    }
    .formulario legend {
        font-size: 35px;
    }
    .formulario {
        font-size: 20px;
    }
    .formulario img {
        padding: 30px;
        width: 40%;
    }
    .text {
        padding:20px;
    }
    .text input, select, textarea{
        background-color: #7e2f47;
        font-size: 20px;
        width: 580px;
    }
    .botones button {
        font-size: 20px;
        height: 50px;
        width: 200px;
    }
}
/*---Desktop---*/
@media (min-width:1280px) {
    .menu_bar label {
        display: none;
    }     
    .menu ul {
        align-items: center;
        background: rgb(0,0,0);
        display: flex;
        font-size: 20px;
        height: 30px;
        list-style: none;
        padding: 5px 0;
        position: relative;
        transform: translateX(0%);
    }
    .menu ul li{
        border-bottom: none;
        padding: 5px 10px;
    } 
    .menu li:hover a {
        font-size: 22px;
    }
    .contenedor_img {
        grid-auto-rows: auto;
        grid-gap: 25px;
        grid-template-columns: 1fr;
        padding: 10px;
    }
    .contenedor_item:hover {
        transform: none;
    }
    .contenedor_item p {
        background-color:rgba(126,47,71,0.66);
        color: #CEE4F2;
        display:inherit;
        font-size: 20px;
        height: 20px;
        padding: 10px 0;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 0;
    } 
    .videos iframe {
        height: 780px;
    }
    .cont_caracteristica {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
    }
    .tablas {
        margin-top: 30px;
    }    
    .tablas h4 {
        font-size: 40px;
    }
    .tablas th {
        font-size: 20px;        
    }
    .tablas td {        
        font-size: 18px;
    }      
}